html{
    scroll-behavior:smooth; /*reduces scrolling glitches*/
}

body {
    padding-left: 5%;
    padding-right:5%;
  }
  
  h1 {
    font-size: 3em;
    color: #000000;
    font-family: Garamond;
    text-align:left;
    padding-top: 2%;
  }

  h2 {
    font-size: 1.5em;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px
}

  h3 {
    font-size: 1.2em;
    color:black;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
#byline {
    font-size: 1.02em;
    padding-bottom: 15px
  }

#photocred {
    font-size:.6em;
    text-align: right
}

#caption { font-size:.8em}

#transparency {font-size:.7em}


 /*This is the div design for my photo gallery. The period before the words indicate that the action should be repeated. The photo container holds the photo with flexible height and automatically full-sized width for consistency. The subrows keep the caption connected to photo for easy organization and aesthetic purposes. The second column allows me to show two photos side-by-side, and the margin makes it so that the photos are not on top of each other. The grid duplicates infinitely as long as I keep adding photos. =*/
  /*The row position being relative makes it more flexible to different image sizes. =*/
  .photocontainer { width: 100%; height: auto; margin: auto; padding:10px; }
.row { height: 370px; margin-bottom: 15px; position: relative; }
.row div { height: 100%; }
.column-2 { width: 48%; }
.left {float: left}
.center { float: left; margin: 0 5%;}
.right {float: right;        
}

  p {
    font-size: 1em;
    line-height: 1.38em;
    font-family: Georgia;
  }
  
  
  img {
    margin: auto;
    display: block;
    padding-bottom:10px
  }
  
  #list {
    font-size: 1.1em;
    list-style-type:left-to-right;
    padding-bottom: 1px
  }
  
  #contact {
    padding-bottom: 20px;
    font-size: 11px
  }
  
  #content {
    width: 50%;
    margin: auto;
  }

  .nav-button a {
    display: inline-flex;
    font-size: 1.2em;
    color: rgb(164, 199, 6);
    text-decoration:none;
    background-color:#ffffff;
    font-weight: bold;
    margin:auto;
  }
 /*The navigation bar at the top of my website is carefully spaced so that the spaces between the buttons are equidistant on both a computer and phone. I did this through the "flex" buttons and carefully-decided padding*/
  #nav-bar { 
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding-top: 10%;
    position: sticky; /*position of nav bar stays with user while user scrolls*/
    top: 0;
    z-index: 1; /*specifies stack order of buttons*/
  }

   /*This media orientation makes it so that the content fits normally on an iphone vertically (portrait) by pre-adjusting the width, and shrinks the content a bit for the desktop view (2/3 of the width so it's not too wide).*/
  /*phone*/
  @media (orientation: portrait) {
    #content {
      width: 100%}
    }
     /*desktop*/
     @media (orientation: landscape) {
        #content {
            width: 66%
        }
     }


   